<h2 style="text-align:center">Sign up</h2>

<%= form_for(resource, as: resource_name, html:{class: "form"} ,url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, class: 'form-input', autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, class: 'form-input', autocomplete: "name" %>
  </div>

  <div class="field">
    <%= f.label :photo %><br />
    <%= f.text_field :photo, class: 'form-input', autocomplete: "photo" %>
  </div>

  <div class="field">
    <%= f.label :bio %><br />
    <%= f.text_field :bio, autocomplete: "bio", class: 'form-input' %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class: 'form-input' %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-input' %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class: 'form-submit'%>
  </div>
<% end %>

<%= render "devise/shared/links" %>
