<%= stylesheet_link_tag 'styles'%>
<h1> show the list of posts </h1>

<main>
   <div class='user'>
     <%= image_tag(@user.photo, class: 'user-photo') %>
     <div class='user-info'>
        <h2><%= @user.name%></h2>
        <p>Number of posts: <%= @user.posts_counter %></p>
     </div>
   </div>

   <section class='posts-section'>
     <% @posts.includes(comments: [:user]).each_with_index do |post, index| %>
        <article>
          <%= link_to 'Create a new post', new_user_post_path %>
          <%= link_to user_post_path(@user.id, post.id) do %>
           <h3><%="Post ##{index+1}"%></h3>
           <h4><%= post.text %></h4>
           <p><%= "Comments: #{post.comments_counter}, Likes: #{post.likes_counter}"%></p>
           <% end %>          
           </article>
        <ul>
           <% post.comments.each do |comment| %>
              <li><%="#{comment.user.name}: #{comment.text}"%></li>
              <% end %>
        </ul>
        <% end %>

        <button>Pagination</button>
   </section>
</main>