<%= stylesheet_link_tag 'styles'%>

<h1> show details about a specific post</h1>

<section>
  <% if can? :destroy, @post %>
    <%= link_to "Remove", "/users/#{@post.author_id}/posts/#{@post.id}", 'data-turbo-method': :delete %>
  <% end %>
   <article>
     <div>
        <h3><%= "Post ##{@post.id} by #{@post.author.name}"%></h3>
        <%= link_to new_user_post_comment_path(@post.author_id, @post.id) do %>
          <p><%= "Comments: #{@post.comments_counter}" %></p>
        <% end %>


        <%= link_to user_post_likes_path(@post.author_id, @post.id) do %>
          <p><%= "Likes: #{@post.likes_counter}" %></p>
        <% end %>

      <%= form_with url: user_post_likes_path(@post.author_id, @post.id) do |form| %>
         <a><%= form.submit 'Like' %></a>
      <% end %>


     </div>
     <p><%= @post.text%></p>
   </article>
   <ul>
     <% @post.recent_comments.each do |comment| %>
        <li><%=comment.text%> 
          <% if can? :destroy, comment %>
            <%= link_to "Delete Comment", user_post_comment_path(user_id:comment.user_id,post_id:comment.post_id,id:comment.id), 'data-turbo-method': :delete %>
          <% end %>
        </li>
        <% end %>
   </ul>
</section>