<%= stylesheet_link_tag 'styles'%>

<h1> show details about a specific post</h1>

<section>
   <article>
     <div>
        <h3><%= "Post ##{@post.id} by #{@post.author.name}"%></h3>
        <%= link_to new_user_post_comment_path(@post.author_id, @post.id) do %>
          <p><%= "Comments: #{@post.comments_counter}" %></p>
        <% end %>
        <%= link_to user_post_likes_path(@post.author_id, @post.id) do %>
          <p><%= "Likes: #{@post.likes_counter}" %></p>
        <% end %>
     </div>
     <p><%= @post.text%></p>
   </article>
   <ul>
     <% @post.recent_comments.each do |comment| %>
        <li><%=comment.text%></li>
        <% end %>
   </ul>
</section>